[user]
  name = Pedro Putz
  email = pedroputz@gmail.com

[github]
  user = pedroputz

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[core]
  editor = subl -w
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow
  local = white
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[branch "master"]
  remote = origin
  merge = master

[pull]
  rebase = true
